:root {
  --color-primary-5: #0369a1;
  --color-primary-6: #0369a1;
  --color-primary-7: #075985;
  --color-text-1: #0f172a;
  --color-text-2: #475569;
  --color-border-1: #e2e8f0;
  --color-bg-1: #ffffff;
  --color-bg-2: #f8fafc;
  --border-radius-medium: 14px;
}
